.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #031728;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* a.hover-underline-animation {
  color: #61dafb;
  text-decoration: none;
}

a.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: var(--border-button-accent-color);
}

a.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: var( --border-button-accent-color);
 transform-origin: bottom right;
 transition: var(--underline-transform);
}

a.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
