:root{
  --primary-background-dark-color: #031728;
  --secondary-background-dark-color:#041c2d;
  --text-color: white;
  --border-button-accent-color: #66fcf1;
  --button-text-color:black;
  --button-hover-color:#f78550;
  --button-padding: 10px 35px 10px 35px;
  --button-border-radius:100px;
  --project-text-color:white;
  --project-card-container-padding: 60px;
  --project-border-style: none;
  --project-border-width: 0px;
  --project-border-radius: 0px;
  --border-underline-animation: animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  --underline-transform:  transform 0.25s ease-out;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-dark-color);
  color: var(--text-color);
  text-align: center;
 
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hover-underline-animation {
  color: #61dafb;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--border-button-accent-color);
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: var( --border-button-accent-color);
 transform-origin: bottom right;
 transition: var(--underline-transform);
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}
.nav{
display: flex;
 justify-content: space-between;
}
.nav-items{
display: flex;
align-items: center;
}
.nav-items > li, .header-name{
  padding: 10px;
}
.footer{
  position: fixed;
 
  bottom: 0;
  width: 100%;
}